Function

In [1]:
# built in function
print(max(2,3,4))

4

In [2]:
#math function
import math
d=45
r=math.radians(d)
print(r)

0.7853981633974483

In [3]:
#conversion function
print(float(45))

45.0

In [4]:
#function definition
def double(x):
    return(x+x)
a=double(23)
print(a)

46

Control Statements

In [5]:
# if statement
a = 67
b = 45
if a > b:
  print("a is greater than b")

a is greater than b

In [6]:
# if-else statement
x=41
if(x%2==0):
    print("x is an even number")
else:
    print("x is an odd number")

x is an odd number

In [7]:
#for loop
for a in ("WEB GIS TRAINING"):
    print(a)

W
E
B

G
I
S

T
R
A
I
N
I
N
G

In [8]:

for x in range (0,4) :
    print ('Numbers: %d' % (x))

Numbers: 0
Numbers: 1
Numbers: 2
Numbers: 3

Strings

In [9]:
# in operatior
a= "Aakriti"
b='k' in 'Aakriti'
print(b)
c='o' in 'Aakriti'
print(c)

True
False

Lists

In [10]:
list=['tree', 545, 23.4]
print(list)

['tree', 545, 23.4]

In [11]:
# replace item
list[1]='book'
print(list)

['tree', 'book', 23.4]

In [12]:
#delete item
list[:]=[]
print(list)

[]

In [13]:
#append list
li=['cat','dog','fish']
li.append('egg')
print(li)

['cat', 'dog', 'fish', 'egg']

In [14]:
#in operator
'egg' in li

True

In [15]:
#insert list
li=['cat','dog','fish']
li.insert(2,'goat')
print(li)

['cat', 'dog', 'goat', 'fish']

In [16]:
'goat' in li

True

In [17]:
#list.pop()
li.pop(1)
print(li)

['cat', 'goat', 'fish']

Dictionaries

In [18]:
number={'one':1,'two':2,'three':3}
number['four']=4
number

{'one': 1, 'two': 2, 'three': 3, 'four': 4}

In [19]:
number['one']

1

In [20]:
#add key-value pair in dictionary
number["five"] = 5
print(number)

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}